.blogStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.blogStyle h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;
}
.blogStyle h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}
.blogStyle h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
}
.blogStyle h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
}
.blogStyle h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.blogStyle p {
    font-size: large;
}

.blogStyle ul {
    list-style: disc;
}
.blogStyle li {
    list-style: decimal;
}

.blogStyle pre{
    width: 100%;
    background: #161B22;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    color: whitesmoke;
}
